CSS
body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:0;
}
 
.container{
    width:350px;
    margin:50px auto;
    background:white;
    padding:20px;
    text-align:center;
    border-radius:10px;
box-shadow:0 0 10px gray
}
h1{
    color:blue;
    text-align:center;
}
h6{
    color:blue;
    text-align:center;
}
h3{
    color:block;
    text-align:center;
}

ul{
    list-style:none;
    padding:0;
}
li{
    background-color:blueviolet;
    color:white;
    margin:4px;
    padding:6px;
    border-radius:3px;
}
button{
    background:blue;
    color:white;
    border:none;
    padding:10px 20p;
    border-radius:5px;
    cursor:pointer;
}
button:hover{
    background:darblue;
}
.profile-photo{
    display:block;
    margin:20px;
    width:180px;
    height:180px;
    
}
img{
    width:150px  !important;
    height:150 !important;
    display:block;
    margin:20px auto;
    border-radius:0
    objective-fitcover;
}
.profile-img{
    width:150px;
    height:150px;
    display:block;
    margin:20px auto;
    object-fit:cover;
border-radius:0;
}
#certificates{
    text-align:center;
    margin-top:30px;
}
#certificates img{
    width:500px;
    max-width:100%;
    border:2px solid #333;
    border-radius:10px;
}
ul{
    display: flex;
    flex-direction: row;
}